#aboutMeLeft{
  margin-left: 0.25%;
  margin-top: 2%;
  width: 25%;
  height: 98%;
  border-radius: 1rem;
  color: white;
  z-index: 1;
  flex-direction: column;
  display: flex;
}

#aboutMeRight{
  margin-left: 0.25%;
  margin-top: 2%;
  width: 25%;
  height: 98%;
  border-radius: 1rem;
  color: white;
  z-index: 1;
  flex-direction: column;
  display: flex;
}

.question{
  width: 80%;
      margin-left: 1%;
      margin-bottom: 2.5%;
      height: 18%;
      padding: 5%;
      padding-top: 5%;
      margin-top: 2.5%;
      border-radius: 1rem;
      border-style: ridge;
      border-width: 0.5rem;
      border-color: rgba(85, 122, 149, 0.8);
      background-color: rgba(115, 149, 174, 0.8);
      display: flex;
      flex-direction: column;
}

.questionText{
  font-size: 1.7rem;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.questionAnswer{
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  font-size: 1.5rem;
}

.question hr{
  border-width: 0.1rem;
  font-size: 0.5rem;
  margin-top: 0%;
  width: 90%;
  margin-left: 5%;
}

#penguinSpace{
  margin-left: 0.25%;
      margin-top: 2%;
      width: 49%;
      height: 80%;
}

#astroPenguin{
  user-select: none;
  width: 25%;
margin-left: 37.5%;
height: 40%;
margin-top: 25%;

-webkit-animation: axisY 60s;
/* Safari 4.0 - 8.0 */
animation: axisY 60s;
animation-iteration-count: infinite;
animation-delay: 0s;
}

@keyframes axisY {
    0% {
      transform: translate(-10rem, 10rem) rotate(20deg);
    }
    25% {
        transform: translate(-10rem, -10rem) rotate(380deg);
    }
    50% {
        transform: translate(10rem, -10rem) rotate(-20deg);
    }
    75% {
        transform: translate(10rem, 10rem) rotate(-400deg);
    }
    100% {
        transform: translate(-10rem, 10rem) rotate(20deg);
    }
}
