* {
  box-sizing: border-box;
}

body {
  /*font-family: Verdana, sans-serif;*/
  background-color: purple;
  color: white;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

ol {
  background: white;
  padding: 30px;
  margin: 20px;
  color: black;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
}

ol li {
  padding: 5px;
  margin-left: 35px;
  color: black;
  list-style-type: none;
}

li:hover::after {
  content: ' ';
  position: absolute;
  border: solid 10px transparent;
  border-top: solid 0px transparent;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  border-color: #222 transparent transparent transparent;
}

.navbar-default .navbar-collapse {
  border: nonAZAe;
  text-align: center;
}

.icon {
  display: inline-block;
  max-height: 100%;
}


.content {
    float: right;

}

.content p { margin: 10px 15px; }

/*** sidebar ***/

.sidebar {
    float: left;
    height: auto;
}

/* top margin on sidebar needed for JS to parse */
.sidebar, .content {  margin-top: 20px; }

/* fixed sidebar applied dynamtically with JS */
.fixed {  position: fixed; bottom: 0; width: 22.8%;}

.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: black;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;

}

footer{
  background-color: black;
}
