* {
  box-sizing: border-box;
}

body {
  /*font-family: Verdana, sans-serif;*/
  background-color: purple;
  color: white;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

ol {
  background: white;
  padding: 30px;
  margin: 20px;
  color: black;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
}

ol li {
  padding: 5px;
  margin-left: 35px;
  color: black;
  list-style-type: none;
}

ul li:hover::after {
  content: ' ';
  position: absolute;
  border: solid 10px transparent;
  border-top: solid 0px transparent;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  border-color: #222 transparent transparent transparent;
}

.navbar-default .navbar-collapse {
  border: nonAZAe;
  text-align: center;
}

.icon {
  display: inline-block;
  max-height: 100%;
}


.content {
    float: right;

}

p {
  margin: 10px 15px;
}


.panel-heading{
  background-color: black;
  color: white;
}

.panel-info:{
  background-color: black;
  color: white;
}

h3{
  color: black;
}

h4{
  color: black;
}

footer{
  background-color: black;
}

label{
  color: black;
}

section#contact {
    background-color: #222222;
}
section {
    padding: 30px 30PX;
}
section#contact .section-heading {
    color: black;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}
