#profileHome {
      margin-left: 18%;
      margin-top: 15%;
      width: 45%;
      height: 60%;
      border-radius: 1rem;
      color: white;
      z-index: 1;
      background-color: rgba(93, 92, 97, 0.5);
}

.titleBig {
  font-size: 5.5rem;
      padding: 5%;
      padding-bottom: 0;
      width: 90%;
      height: 23%;
      text-align: center;
}

#profileHome hr {
  border-width: 0.2rem;
  font-size: 0.5rem;
  margin-top: 0%;
  width: 90%;
  margin-left: 5%;
}

.titleSub {
  font-size: 5rem;
      margin-top: 4%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 15%;
      text-align: center;
}

.titleSub2 {
  margin-top: 6%;
      font-size: 3.5rem;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 10%;
      text-align: center;
}

.titleSub3 {
  margin-top: 2%;
      font-size: 3rem;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 10%;
      text-align: center;
}

/* #contentPanelHome{
  margin-top: 8%;
} */

#profileRahul{
  margin-left: 3%;
  margin-top: 15%;
  width: 31%;
  height: 70%;
  border-radius: 1rem;
  color: white;
  z-index: 1;
}

#profileRahulHolder{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  z-index: 1;
}

#isME{
  width:100%;
  z-index: 1;
}

#profileRahulIcoHolder{
  height: 25%;
  width: 30%;
  margin-top: -120%;
  margin-left: 5%;
  border-radius: 100%;
  overflow: hidden;
  z-index: 100000;
}

#isDIGIME{
  width: 100%;
  z-index: 100000;
  background-color: white;
}
