* {
  box-sizing: border-box;
}

body {
  /*font-family: Verdana, sans-serif;*/
  background-color: purple;
  color: white;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

ol {
  background: purple;
  padding: 20px;
  border: 6px solid white;
}

ol li {
  padding: 5px;
  margin-left: 35px;
  list-style-type: none;
}
