#background-wrap {
  bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        /* margin-left: -1000px; */
        -webkit-transform: translate(-1000px);
      	-moz-transform: translate(-1000px);
      	transform: translate(-1000px);
    }
    100% {
        /* margin-left: 100%; */
        -webkit-transform: translate(100%);
        -moz-transform: translate(100%);
        transform: translate(100%);
    }
}

@-moz-keyframes animateCloud {
  0% {
      /* margin-left: -1000px; */
      -webkit-transform: translate(-1000px);
      -moz-transform: translate(-1000px);
      transform: translate(-1000px);
  }
  100% {
      /* margin-left: 100%; */
      -webkit-transform: translate(100%);
      -moz-transform: translate(100%);
      transform: translate(100%);
  }
}

@keyframes animateCloud {
  0% {
      /* margin-left: -1000px; */
      -webkit-transform: translate(-1000px);
      -moz-transform: translate(-1000px);
      transform: translate(-1000px);
  }
  100% {
      /* margin-left: 100%; */
      -webkit-transform: translate(100%);
      -moz-transform: translate(100%);
      transform: translate(100%);
  }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;

	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
  will-change: transform;
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
  will-change: transform;
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
  will-change: transform;
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
  will-change: transform;
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;

	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
  will-change: transform;
}

/* OBJECTS */

.penguinParachute,
.cloud{
  height: 7.5em;
  position: relative;
  width: 10em;
  will-change: transform;
}

/* OBJECTS */

.penguinParachute object{
  width: 50%;
}

/* .cloud object{
  width: 100%;
} */
