html {
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000000;
}

#coverTop,
#coverLeft,
#coverRight{
  background-color: rgba(0,0,0,1);
}

.screen {
  position: absolute;
  overflow: visible;
  z-index: 1;
}

.hidden {
  display: none !important;
}

#content {
  height: 92%;
  width: 100%;
  top: 8.4%;
  position: absolute;
  left: 0;
  display: flex;
  overflow: hidden;
}

#contentPanel {
  width: 98%;
  left: 1%;
  margin-right: 1%;
  position: absolute;
  height: 90%;
  top: 3%;
  border-radius: 1rem;
  z-index: 100;
  overflow: hidden;
}

#contentPanelHome, #contentPanelResume, #contentPanelProjects, #contentPanelContact, #contentPanelAbout {
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}

#contentPanelHome, #contentPanelAbout, #contentPanelContact{
  display: inline-flex;
}

.pageTransitionOut{
  -webkit-animation: pageTrans 3s;
  /* Safari 4.0 - 8.0 */
  animation: pageTrans 3s;
}

@keyframes pageTrans {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pageTransitionIn{
  -webkit-animation: pageTransIn 3s;
  /* Safari 4.0 - 8.0 */
  animation: pageTransIn 3s;
}

@keyframes pageTransIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header {
  height: auto;
  width: 100%;
  top: 0;
  position: fixed;
  left: 0;
  z-index: 1000;
}

#navbar {
  width: 53%;
  height: 100%;
  margin-left: 48%;
  margin-top: -1%;

  display: inline-flex;
  flex-direction: row-reverse;
  background-color: rgba(115, 149, 174, 0.4);
  border-style: solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-width: 0.5rem;
  border-color: rgba(93, 92, 97, 0.4);
}

.navbarItem {
  padding: 5%;
  padding-bottom: 3.5%;
  width: auto;
  height: auto;
  color: white;
  font-size: 2rem;
  border-width: 2rem;
  margin-top: -1%;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.selectedNavbar, .navbarItem:hover, .navbarItem:active {
  background-color: rgba(85, 122, 149, 0.4);
}

#terrain{
  width: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
  height: auto;
  z-index: -1;
}

.terrain{
  width: 100%;
  height: auto;
}
