html {
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #000000;
}

.screen {
  position: absolute;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

.hidden {
  display: none;
}

#cityImg {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

#header {
  height: 8%;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  background-color: #0F1626;
  border-bottom: #FF3B3F;
  border-width: 0 0 0.25rem 0;
  border-style: solid;
}

#content {
  height: 86.6%;
  width: 100%;
  top: 8.4%;
  position: absolute;
  left: 0;
}

#footer {
  height: 5%;
  width: 100%;
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #0F1626;
  border-top: #FF3B3F;
  border-width: 0.25rem 0 0 0;
  border-style: solid;
}

#contentPanel {
  width: 90%;
  left: 5%;
  position: absolute;
  height: 75%;
  top: 10%;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.5rem;
  z-index: 100;
  border-color: #FF3B3F;
}

#contentPanelBG{
  width: 90%;
  left: 5%;
  position: absolute;
  height: 75%;
  top: 10%;
  background-color: #EFEFEF;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.5rem;
  z-index: 1;
  border-color: #FF3B3F;
  opacity: 0.5;
}

#contentPanelAbout,
#contentPanelResume,
#contentPanelProjects,
#contentPanelContact{
  width: 100%;
  height: 100%;
}

#navbar{
  position: absolute;
  width: 38%;
  height: 100%;
  right: 0%;
  top: 0;
}

.navbarItem{
  width: 18%;
  padding: 3%;
  height: 47%;
  float: right;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.navbarItem:hover,
.navbarItem:active{
  background-color: #33456d;
}

#progress{
  width: 100%;
  font-size: 3rem;
  color: #FF3B3F;
  text-align: center;
}
