/* Colors:
#B23850
#3B8BEB
#E7E3D4
#C4DBF6
#8590AA
*/

:root {
  --main-text-bg: rgba(133, 144, 170,0.6);
  --main-bg: linear-gradient(to bottom, #3B8BEB, #5b99e3);
  --main-text-color: white;
  --main-title-bg: rgba(178, 56, 80,0.7);
  --nav-bg: rgba(196, 219, 246,0.9);
}

/* Setting Colors */
.splashInfo, .question, .school, .job, .projectContainer {
  background-color: var(--main-text-bg);
}

.mainTitle {
  padding-top: 4em;
  text-shadow: 0.2em 0.2em var(--main-title-bg);
  margin-bottom: 0.2em;
}

.verticalAlign{

}


.noHeight{
  height: 0!important;
}

html {
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--main-text-color);
  background: var(--main-bg);
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

#terrain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.terrain{
  width: 100%;
}

#bottom{
  width: 100%;
}

/* Navbar */
.title-bar {
  background-color: var(--main-text-bg) !important;
}

.top-bar {
  background-color: var(--main-text-bg) !important;
}

.menu-icon {
  margin: 0em 0.5em;
  width: 2em;
  height: 1.6em;
}

.menu-icon::after {
  background: #cacaca;
  height: 0.2em;
  box-shadow: 0 0.6em 0 #cacaca, 0 1.2em 0 #cacaca;
}

.menu-icon:hover::after {
  background: #fefefe;
  height: 0.2em;
  box-shadow: 0 0.6em 0 #fefefe, 0 1.2em 0 #fefefe;
}

.top-bar ul {
  background-color: transparent;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75em 0.25em;
  margin: 0em 0.25em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  margin-bottom: 0.2em;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active>a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 0.15em;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: white;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active>a {
  transition: all 0.35s ease;
  color: rgba(255, 255, 255, 1);
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

/* Splash page */
#profilePic {
  height: 5%;
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: 0.35em;
  border-radius: 1em;
}

#welcomeText{
  margin-top: 3em;
  text-shadow: 0.2em 0.2em var(--main-title-bg);
}

#splash {
  padding-top: 3em;
}

.splashInfo {
  padding: 1%;
  border-radius: 1em;
}

/* Intro */

.bio{
  text-shadow: 0.1em 0.1em var(--main-title-bg);
  font-size: 1.2em;
}

#bioPhotos1{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#bioPhotos2{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* Sky */
#sky {
  width: 100%;
  padding: 0%;
}

/* Common Question */
.question {
  padding: 1%;
  border-radius: 1em;
  color: white;
}

/* SCHOOL SECTION */
.schoolDescription {
  margin-bottom: 1%;
}

.school {
  padding: 1%;
  border-radius: 1em;
  color: white;
}

/* Job Section */
.jobDescription {
  margin-bottom: 1%;
}

.job {
  padding: 1%;
  border-radius: 1em;
  color: white;
}

/* PROJECT SECTION */
.projectContainer {
  padding: 1%;
  border-radius: 1em;
  color: white;
}

.gitTitle {
  background-color: black;
  border-color: white;
  border-left-width: 0.25em;
  border-top-width: 0em;
  border-right-width: 0.25em;
  border-bottom-width: 0.25em;
  border-style: solid;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 2em;
  margin: auto;
  color: white;
}

.gitIcon {
  background-color: black;
  border-color: white;
  border-left-width: 0.5em;
  border-top-width: 0.5em;
  border-right-width: 0.5em;
  border-bottom-width: 0em;
  border-style: solid;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.projectTitle {
  font-size: 1.25em;
  font-style: oblique;
}

.projectLanguage {
  margin-bottom: 1em;
}

/* penguins */
.penguinParachute object{
  -webkit-animation: axisY 60s;
  /* Safari 4.0 - 8.0 */
  animation: axisY 60s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.penguinAstro object,
.penguinSchool object,
.penguinWork object{
    width: 50%;
    margin-top: 25%;

    -webkit-animation: axisY3 20s;
    /* Safari 4.0 - 8.0 */
    animation: axisY3 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function:ease-in;
}

@keyframes axisY {
    0% {
      transform: translate(-3rem, 3rem) rotate(20deg);
    }
    25% {
        transform: translate(-3rem, -3rem) rotate(380deg);
    }
    50% {
        transform: translate(3rem, -3rem) rotate(-20deg);
    }
    75% {
        transform: translate(3rem, 3rem) rotate(-400deg);
    }
    100% {
        transform: translate(-3rem, 3rem) rotate(20deg);
    }
}

@keyframes axisY3 {
    0% {
      transform: translate(0, -1rem)rotate(20deg);
    }
    25% {
        transform: translate(0, 1rem) rotate(0deg);
    }
    50% {
        transform: translate(0, 0.5rem) rotate(-20deg);
    }
    75% {
        transform: translate(0, 1.5rem) rotate(0deg);
    }
    100% {
        transform: translate(0, -1rem) rotate(20deg);
    }
}

/* contact me */
.socialLogoPic{
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
}
